<div class="question">
  <h1>Question :</h1>
  <h2 class="bg"><%= @question %></h2>
</div>


<div class="answer">
  <h1>Answer :</h1>
  <h2>
    <% if @question == "I am going to work" %>
    <div class="bg"><% puts %><%= "\"Great!\"" %></div>
    <% elsif @question.include? "?" %>
    <div class="bg"><% puts %><%= "\"Silly question, get dressed and go to work!\"" %></div>
    <% else %>
    <div class="bg"><% puts %><%= "\"I don't care, get dressed and go to work!\"" %></div>
    <% end %>
  </h2>
</div>

<a href="/ask" class="link">BACK</a>